<form action="">
    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Libros</label>
        <select [(ngModel)]="book" name="book" class="form-select" id="inputGroupSelect01">
            <option value="0" selected>Seleccione...</option>
            <option *ngFor="let book of books" [value]="book.ISBN">{{book.titulo}}</option>
        </select>
    </div>

    <div class="form-floating">
        <textarea [(ngModel)]="review" name="review" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 200px"></textarea>
        <label for="floatingTextarea2">Escribir reseña</label>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2  m-auto">
                <button type="button" class="btn btn-primary" (click)="sendReview()">Guardar</button>
            </div>
        </div>
    </div>
</form>