.input-group{
    width: 30%;
    margin-left: 70px;
    padding: 0;
}
table{
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
}
.inputs-filter{
    display: flex;
    margin-right: 60px ;
    width: 45%;
}
.container-inputs{
    display: flex;
    justify-content: space-between;
}
.inputs-filter input{
    margin-right: 10px;
}