<form action="">
    <div class="container-inputs">
        <div class="input-group ">
            <input [(ngModel)]="param" name="param" type="text" class="form-control" placeholder="Ingresar parametros de consulta"
                aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="showBooksParam()">Buscar</button>
            </div>
        </div>
        <div class="inputs-filter">
            <input [(ngModel)]="isbn" name="isbn" type="number" class="form-control" placeholder="Buscar por ISBN">
            <input [(ngModel)]="author" name="author" type="text" class="form-control" placeholder="Buscar por Autor">
            <input [(ngModel)]="title" name="title" type="text" class="form-control" placeholder="Buscar por título">
            <button class="btn btn-outline-secondary" type="button" (click)="showBooksParams()">Buscar</button>
        </div>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ISBN</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Título</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of books">
                    <th scope="row">{{book.ISBN}}</th>
                    <td>{{book.autor}}</td>
                    <td>{{book.titulo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</form>